In [14]:
#Q1
studentages=[19,22,19,24,20,25,26,24,25,24]
sort_studentages = sorted(studentages)

#1.1 sort the given list and find the minimum and maximum age
print("Sorted Student Ages:",sort_studentages)
print("minimum age of student =",sort_studentages[0],"\nMaximum age os students =",sort_studentages[-1])
minimum = sort_studentages[0]
maximum = sort_studentages[-1]

#1.2 adding minimum and maximum ages to the list
sort_studentages.append(minimum)
sort_studentages.append(maximum)

length = len(sort_studentages)
print("Adding minimum and maximum ages to the list:",sort_studentages)

#1.3 Find the median of the list
if length % 2 == 0 :
  median1 = sort_studentages[length//2]
  median2 = sort_studentages[length//2-1]
  median = (median1+median2)//2
  print("Median of the list:",median)
else :
  median=sort_studentages[length//2]
  print("Median of the list:",median)

#1.4 Find the average of the list
length= len(sort_studentages)
sum=0
for i in range (0,length,1):
  sum=sum+sort_studentages[i]
average=sum/length
print("The average of the elements:",average)


#1.5 Find the range of the student ages
Range = sort_studentages[-1]-sort_studentages[0]
print("Range of the list :",Range)

Sorted Student Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
minimum age of student = 19
Maximum age os students = 26
Adding minimum and maximum ages to the list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median of the list: 24
The average of the elements: 22.75
Range of the list : 7

In [18]:
# Q2
#2.1 Create an empty dictinory called dog
dog={}
#2.2 Add name, color, breed, legs, age to the dog dictinory
dog={"name":None,"color":None,"breed":None,"legs":None,"age":None}
#2.3 create a student dictinory and add first name, last name, gender, age, marital status,skills, country, city and address as keys for the dictionary
student ={
    "first_name":None,
    "last_name":None,
    "gender":None,
    "age":None,
    "marital_status":None,
    "skills":None,
    "country":None,
    "city":None,
    "address":None
}
#2.4 Get the length of the student dictionary
print("Length of the student dictionary is :", len(student))

student = {
    "first_name": 'Venkatanaganikhil reddy',
    "last_name":'Sanikommu',
    "gender":'Male',
    "age":'22',
    "marital_status":'unmarried',
    "skills":['Positive Thinking','Analytical approach'],
    "country":'USA',
    "city":'Leawood',
    "address":'10711 Juniper Drive'

}
print("DataType :",type(student['skills']))
#2.5 Get the value of skills and check the datatype
print("Skills are:",student.get('skills'))
#2.6 Modify skills values by adding one or two skills
student['skills'].append("critical thinking")
print("Skills after adding a new skill:",student.get('skills'))
#2.7 Get the dictionary keys as a list
print("The key values in dictionary :",student.keys())
#2.8 Get the dictionary values as a list
print("The values in the student dictionary are:",student.values())

Length of the student dictionary is : 9
DataType : <class 'list'>
Skills are: ['Positive Thinking', 'Analytical approach']
Skills after adding a new skill: ['Positive Thinking', 'Analytical approach', 'critical thinking']
The key values in dictionary : dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
The values in the student dictionary are: dict_values(['Venkatanaganikhil reddy', 'Sanikommu', 'Male', '22', 'unmarried', ['Positive Thinking', 'Analytical approach', 'critical thinking'], 'USA', 'Leawood', '10711 Juniper Drive'])

In [21]:
#Q3
#3.1 Create a tuple containing names of your sisters and your brothers

brothers = ("Harsha", "Amith","Fardeen","likith","Phani")
sisters = ("Kavya","Soujanya")

#3.2 join brothers and sisters tuples and assign it to siblings

siblings=brothers+sisters
print("After joining both tuples:",siblings)

#3.3 Find the length the tuple(How many siblings do you have?)
print("No.of siblings :",len(siblings))

#3.4 Modify the siblings tuple and add the name of your father and mother and assign it to family_members

siblings =siblings + ("Murali","prasanna")
family_members = siblings
print("After adding father and mother name:",family_members)

After joining both tuples: ('Harsha', 'Amith', 'Fardeen', 'likith', 'Phani', 'Kavya', 'Soujanya')
No.of siblings : 7
After adding father and mother name: ('Harsha', 'Amith', 'Fardeen', 'likith', 'Phani', 'Kavya', 'Soujanya', 'Murali', 'prasanna')

In [38]:
#Q4

it_companies ={"Facebook","Google","Microsoft","Apple","IBM","Oracle","Amazon"}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#4.1 Lengths of the set it_companies

length = len(it_companies)
print("Length of it_companies list:",length)
print("it_companies;", it_companies)
#4.2 Add 'Twitter' to it_companies

it_companies.add('Twitter')
print("After adding Twitter:",it_companies)

#4.3 Insert multiple IT companies at once to the set it_companies
companies=['Valenta','Infosys','KPIT']
it_companies.update(companies)
print("After adding multiple IT companies:",it_companies)

#4.4 Remove one of the the companies from the set it_companies
it_companies.remove("Apple")
print("After deleting a company from list:",it_companies)

#4.5 Difference between remove and discard
'''
Remove is if we want to delete a value in the set that is not in the set, then it shows
error.
If we use discard instead of remove in the above case then it doesnot gives any error,
it just keep the set undisturbed

'''
print("if we use discard",it_companies.discard("Mphasis"))

#4.6 Join A and B
C=B.union(A)
print("after joining A and B: ",C)

#4.7 Find A intersection B
common=A.intersection(B)
print("Intersection set:",common)

#4.8 Is A subset of B
print("Is A subset of B:",A.issubset(B))

#4.9 Are A and B disjoint sets
print("Are A and B disjoint sets:",A.isdisjoint(B))

#4.10 Join A with B and B with A
print("Join A with B:",A.union(B))
print("Join B with A:",B.union(A))

#4.11 What is the symmetric difference between A and B
print("The Symmetric differnce is:",A.symmetric_difference(B))

#4.12 Delete the sets completely
del A
del B

#4.13 convert the ages to a set and compare the length of the list and the set.
Set =set(age)
print("Converted to set",Set)
print("Length of the list is:",len(age),",set is:",len(Set))

Length of it_companies list: 7
it_companies; {'Oracle', 'Facebook', 'IBM', 'Microsoft', 'Apple', 'Google', 'Amazon'}
After adding Twitter: {'Oracle', 'Twitter', 'Facebook', 'IBM', 'Microsoft', 'Apple', 'Google', 'Amazon'}
After adding multiple IT companies: {'Oracle', 'Infosys', 'Twitter', 'Facebook', 'IBM', 'Valenta', 'KPIT', 'Microsoft', 'Apple', 'Google', 'Amazon'}
After deleting a company from list: {'Oracle', 'Infosys', 'Twitter', 'Facebook', 'IBM', 'Valenta', 'KPIT', 'Microsoft', 'Google', 'Amazon'}
if we use discard None
after joining A and B:  {19, 20, 22, 24, 25, 26, 27, 28}
Intersection set: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
Join A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A: {19, 20, 22, 24, 25, 26, 27, 28}
The Symmetric differnce is: {27, 28}
Converted to set {19, 22, 24, 25, 26}
Length of the list is: 8 ,set is: 5

In [44]:
#Q5

import math
constant=math.pi
radius = 30
#5.1 Area of the circle
_area_of_circle_= constant*(radius*radius)
print("Area of the circle:", _area_of_circle_)

#5.2 Circumference
_circum_of_circle_=2*constant*radius
print("Circumference of the circle:",_circum_of_circle_)

#5.2.1 Assign a value to radius as a user input
new_radius=float(input("Enter the value of radius:"))
Area_of_the_circle=constant*new_radius*new_radius
print("Area of circle for given radius =",new_radius,"\nArea=",Area_of_the_circle)

Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Enter the value of radius:8
Area of circle for given radius = 8.0
Area= 201.06192982974676

In [45]:
#Q6
Sentence="I am a teacher and I love to inspire and teach people"

#How many unique words have been used in the sentence

Split=Sentence.split(" ")
sp_set = set(Split)
print("Set:",sp_set)
print("No.of words in the sentence:",len(sp_set))

Set: {'a', 'teacher', 'people', 'love', 'teach', 'inspire', 'I', 'to', 'and', 'am'}
No.of words in the sentence: 10

In [48]:
#Q7

print("Name\t\tAge\tcountry\tcity\nAsabeneh\t250\tFinland\tHelsinki")

Name		Age	country	city
Asabeneh	250	Finland	Helsinki

In [49]:
#Q8

radius = 10
area =int(3.14*radius**2)

#string formating
formatted_area = 'The area of circle with radius {} is {} meter square.'.format(radius, area)
print(formatted_area)

The area of circle with radius 10 is 314 meter square.

In [52]:
#Q9

#Dynamically taking the input
n=int(input('Enter the NO.of values to be converted36'))

#create two lists one for lbs and other for kgs
list=[]
con_list=[]
for i in range(0,n,1):
  p=float(input('Enter the value:'))
  list.append(p)
for i in range (0,n,1):
  q=list[i]*0.453592
  con_list.append(round(q,2))
print("After Converting to kgs: ", con_list)

Enter the NO.of values to be converted5
Enter the value:125
Enter the value:800
Enter the value:9
Enter the value:859
Enter the value:3654
After Converting to kgs:  [56.7, 362.87, 4.08, 389.64, 1657.43]